<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title></title>
    </head>
    <body>
        <div id="app">
            <header>
                <nav><a href="#project">Project</a></nav>
            </header>
            <section id="about"></section>
            <section id="projects">
                <div class="project-details"></div>
                <div class="project-list"></div>
            </section>
            <section id="contact"></section>
            <footer></footer>
        </div>
        <script type="text/template" id="about-tmpl"></script>
        <script type="text/template" id="contact-tmpl"></script>
        <script type="text/template" id="projectRow-tmpl">
            <a href="#project/<%= id %>"class="snippet">
                <div class="cover" style="background-image:url('<%= covers[202] %>')"></div>
                <div class="title"><%= name %></div>
            </a>
        </script>
         <script type="text/template" id="projectDetails-tmpl">
              <div class="name"><%= name %></div>
              <div class="descriptions"><%= description %></div>
        <ul>
            <% _.each( modules, function( listItem ){ %>
 
                <li>
                    <% if ( listItem.type === "image" && listItem.width === 600){ %>
                    <img src="<%- listItem.src %>" />
 
                    <% } %>
 
                </li>
 
            <% }); %>
        </ul>

         </script>
        <script src="libs/jquery-2.0.1.min.js" type="text/javascript"></script>
        <script src="libs/underscore-min.js" type="text/javascript"></script>
        <script src="libs/backbone.min.js" type="text/javascript"></script>
        <script type="text/javascript" src="libs/be/be.js"></script>
        <script type="text/javascript" src="libs/be/be/users/projects.js"></script>
        <script type="text/javascript" src="libs/be/be/users/wips.js"></script>
        <script type="text/javascript" src="libs/be/be/users/collections.js"></script>
        <script type="text/javascript" src="libs/be/be/users.js"></script>
        <script type="text/javascript" src="libs/be/be/collections.js"></script>
        <script type="text/javascript" src="libs/be/be/projects/comments.js"></script>
        <script type="text/javascript" src="libs/be/be/projects.js"></script>
        <script type="text/javascript" src="libs/be/be/wips/revisions.js"></script>
        <script type="text/javascript" src="libs/be/be/wips.js"></script>
        <script type="text/javascript" src="libs/be/be/search.js"></script>
        <script src="app.js" async type="text/javascript"></script>
    </body>
</html>
